.TodoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

h1 {
  color: rgb(67, 110, 175);
}

input {
  border: none;
  border: none;
  border-radius: 10%;
  padding: 2%;
}

.todo-list {
  text-align: center;
  margin-top: 10%;
}

button {
  margin-top:2%;
  margin-inline: auto;
  display: block;
  border: none;
  border-radius: 10%;
  color: #eeeeee;
}

.button-input, .button-clear {
  background-color: #8b8b8b;
}

.button-edit {  
  background-color: #00a838;
}
